html{
  background: url("/assets/images/page_bkg.png");
}

h1 { font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
h3 { font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
p { font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
blockquote { font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; }
pre { font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }
a { font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; font-style: normal; font-variant: normal; font-weight: bold; line-height: 20px; }

.photo{
  background: url("/assets/images/115232032_6884e794f1_b.jpg") no-repeat center;
  height:500px;
  max-width:1331px;
}

.right {
  float: right;
}

body{
  background-color: white;
  max-width:1331px;
  height: 3000px;
  padding-bottom: 15px;
  margin:auto;
}

a{
  color: inherit;
}


.divwide{
  max-width: 1331px;
  margin:auto;
}

.titlecard{
  height: 100px;
  text-align: center;
  padding-top: 50px;
}

.button {
  text-decoration: none;
  z-index: 100;
  text-align: center;
  padding: 10px 12px;
  position: fixed;
  float: inherit;
  background: #dddddd;
  color: #ffffff;
}


.button2 {
  text-decoration: none;
  z-index: 100;
  text-align: center;
  padding: 8px 12px;
  position: fixed;
  float: inherit;
  width: 75px;
  background: #dddddd;
  color: #000000;
}

.button:hover,
.button:focus {
  border: 0px solid #bdbdbd;
  background: #eaeaea;
  text-decoration: none;
}

.button2:hover,
.button2:focus {
  border: 0px solid #bdbdbd;
  background: #eaeaea;
  text-decoration: none;
}

.button:active {
  background: #848484;
}

.button:before{
  content:  "\0000a0";
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 6px 4px 6px 4px;
  position: relative;
  top: 0px;
  left: 0px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAQ0lEQVRIie2UwQ0AIAjEinFxXVxG4NUHhg7A5aAhgIWIOvwPAjh2wDMD9CNv4NohvRmLSnSLgu4PbywqGYtK9Ab6ehK03QYvB7m8ywAAAABJRU5ErkJggg==") no-repeat center transparent;
  background-size: 100% 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horili {
  float: left;
}

.vertli {
  float: top
}

.sub-menu li a{
 display: block;
 text-decoration: none;
 padding: 18px 8px 18px 8px;
 background-color: #dddddd;
 border-right: 0px solid #AAAAAA;
 transition: border-right 0.1s linear;
}

.menu{
  list-style-type: none;
  z-index: 100;
}

.menu:hover .sub-menu{
  visibility: visible;
  opacity: 1;
  z-index: 101;
  transform: translate(10px, 0px);
}

.sub-menu{
  position: fixed;
  float: inherit;
  margin-left: 46px;
  background-color: #dddddd;
  z-index: 99;
  list-style-type: none;
  visibility: hidden;
  opacity: 0;
  transition:visibility 0.3s linear,opacity 0.3s linear, transform .3s;
  width: auto;
}

.sub-menu li a:hover{
  background-color: #eaeaea;
  border-right: 5px solid #AAAAAA;
}

.sub-menu li a:active{
  background-color: #AAAAAA;
}


.menu2{
  list-style-type: none;
  z-index: 100;
}

.menu2:hover .sub-menu2{
  visibility: visible;
  opacity: 1;
  z-index:101;
  transform: translate(0px, 10px);
}

.sub-menu2{
  position: fixed;
  float: inherit;
  top: 26px;
  background-color: #dddddd;
  z-index: 99;
  list-style-type: none;
  visibility: hidden;
  opacity: 0;
  transition:visibility 0.3s linear,opacity 0.3s linear, transform .3s;

}

.sub-menu2 li a{
  display: block;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #dddddd;
  border-bottom: 0px solid #AAAAAA;
  transition: border-width 0.1s linear;
}

.sub-menu2 li a:hover{
  background-color: #eaeaea;
  border-width: 5px;
}
