.roundedbody {
  background: #A4A4A4;
  background: -moz-linear-gradient(top, #A4A4A4 0%, #2388CB 0%, #144E75 100%);
  background: -webkit-linear-gradient(top, #A4A4A4 0%, #2388CB 0%, #144E75 100%);
  background: linear-gradient(to bottom, #A4A4A4 0%, #2388CB 0%, #144E75 100%);
  border-radius: 25px;
  box-shadow: 10px 10px 8px #888888;
  margin: 100px;

}

.button {
    display: inline-block;
    z-index: 3
    text-align: center;
    vertical-align: middle;
    padding: 10px 12px;
    border: 0px solid #848484;
    border-radius: 8px;
    position: fixed;
    top: 25px
    left: 25px
    background: #d9d9d9;
    color: #ffffff;
    box-shadow: 5px 5px 8px #888888
}


.submenu{
    display:none;
    float: right;
    list-style-type: none;
}

.menuli:hover .submenu{
    display: block;
}

.button:hover,
.button:focus {
    border: 0px solid #bdbdbd;
    background: #ffffff;
    color: #ffffff;
    text-decoration: none;
}

.button:active {
    background: #848484;
}

.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 6px 4px 6px 4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAQ0lEQVRIie2UwQ0AIAjEinFxXVxG4NUHhg7A5aAhgIWIOvwPAjh2wDMD9CNv4NohvRmLSnSLgu4PbywqGYtK9Ab6ehK03QYvB7m8ywAAAABJRU5ErkJggg==") no-repeat center transparent;
    background-size: 100% 100%;
}
